html {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #49C6FF;
    background-image: url('../images/bg-overlay.png');
}

.main {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    text-align: center;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
}

@media (min-width: 700px) {
    .main {
        max-width: 600px;
    }
}

.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .main-nav li {
        display: inline-block;
    }

    .main-nav li + li {
        padding-left: 15px;
    }

    .main-nav a {
        color: #0E97D6;
    }

.calculator-form {}

    .calculator-form input {
        display: block;
        margin: 0 auto;
        padding: 4px;
        width: 40px;
        font-size: 16px;
        text-align: center;
        border-radius: 5px;
        border: 0;
    }

    .calculator-form a {
        display: inline-block;
        margin-top: 20px;
        padding: 4px 10px;
        color: black;
        font-size: 18px;
        text-decoration: none;
        background: #FFFFFF;
        border: 3px solid #2B7090;
        border-radius: 5px;
    }

    .calculator-form__allowed-wieghts {
        display: block;
        margin: 0 auto;
    }

    @media (min-width: 700px) {
        .calculator-form__allowed-wieghts {
            width: 400px;
        }
    }

    .calculator-form__allowed-wieghts:before,
    .calculator-form__allowed-wieghts:after {
        display: table;
        content: ' ';
    }

    .calculator-form__allowed-wieghts:after {
        clear: both;
    }

        .calculator-form__allowed-wieghts p {
            margin-top: 0;
        }

        .calculator-form__allowed-wieghts .property {
            width: 33.33%;
            float: left;
        }

.calculation-list {
    padding: 0;
    list-style: none;
}

    .calculation-list li {
        display: inline-block;
    }

    .calculation-plate-45 {
        width: 150px;
    }

    .calculation-plate-35 {
        width: 130px;
    }

    .calculation-plate-25 {
        width: 110px;
    }

    .calculation-plate-10 {
        width: 80px;
    }

    .calculation-plate-5 {
        width: 70px;
    }

    .calculation-plate-2-5 {
        width: 60px;
    }

.calculation-messaging {}

    .calculation-messaging__result {
        padding-left: 10px;
        font-size: 18px;
    }

        .calculation-messaging__result:after {
            content: ' (lbs)';
        }

.property {
    display: table;
    margin: 0 auto 15px;
}

    .property label {
        display: table-cell;
        width: 200px;
    }

    .property .value {
        display: table-cell;
    }
